<div id="wrapper">

	<div id="wrapper-left">
		<div class="box">
		<div class="topics-header">
				<a href="#">111</a>
				<a href="#">222</a>
		</div>
		
		<%= render :partial => 'topics/topic', :collection => @topics %>

		
		<div class="topics-footer">
			more
		</div>
	</div>
	</div>
	
	
	
		
	<div id="wrapper-right">
		<div class="dashboard">
			<div class="pull-center">
			    <button class="btn btn-primary" type="button">发布新帖</button>
		    </div>
		</div>
	</div>
	
</div>
