<div class="content">
		<div class="avator pull-left">
			<img src="http://gravatar.com/avatar/0d81376a51c9fa2053051c0269144f40.png?r=G&s=48" alt="hi54yt" />
		</div>
		<div class="reply pull-right">
			<span class="badge badge-info">10</span>
		</div>
		<div class="info">
			<div class="title">
				<%= link_to "#{topic.title}", topic %>
			</div>
			<div class="sub-info">
				<i class="icon-user add_right_space"> hi54yt</i>
				<i class="icon-time"> 1天前</i>
			</div>
		</div>
</div>