<div id="wrapper">
	<div id="wrapper-left">
		<div class="box">
			<div class="topic">
				<div class="topic-head">
					<div class="avator pull-right">
						<img src="http://gravatar.com/avatar/0d81376a51c9fa2053051c0269144f40.png?r=G&s=48" alt="hi54yt" />
					</div>

					<div class="topic-info">
						<h2>
							<%= @topic.title %>
						</h2>
						<div class="sub-info">
							<i class="icon-user add_right_space"> hi54yt</i>
							<i class="icon-time"> 1天前</i>
						</div>
					</div>
				</div>
				<div class="topic-content">
					<%= @topic.content %>
				</div>
			</div>
			
			
		</div>
	</div>
	
	<div id="wrapper-right">
		<div class="box">
			dashboard
		</div>
	</div>
<div>