<div id="signin-form">
	<form>
		<legend>登陆</legend>

		<div class="control-group">
			<div class="control-label">
				<label for="login">用户名或邮箱</label>
			</div>
			<div class="controls">
				<div class="full-input-wrap"><input class="span3" id="login" name="login" tabindex="1" type="text"></div>
			</div>
		</div>
   
		<div class="control-group">
			<div class="control-label">
				<label for="password">密码</label>
			</div>
			<div class="controls">
				<div class="full-input-wrap"><input class="span3" id="password" name="password" tabindex="2" type="password"></div>
			</div>
		</div>
   
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input id="remember_me" name="remember_me" tabindex="3" type="checkbox" value="yes">
					记住我
				</label>
			</div>
		</div>
   

			<input class="btn primary" name="commit" tabindex="4" type="submit" value="登录">
			或者
			<a href="/signup">还未注册？</a>

   
	</form>

