<div id="signup-form">
	<form>
		<legend>注册</legend>
		<div class="control-group">
			<div class="control-label">
				<label for="user_name">用户名</label>
			</div>
			<div class="controls">
				<input class="span3" data-validate="true" id="user_name" name="user[name]" size="30" tabindex="1" type="text">
			</div>

		</div>

		<div class="control-group">
			<div class="control-label">
				<label for="user_email">邮箱</label>
			</div>
			<div class="controls">
				<div class="full-input-wrap"><input class="span3" data-validate="true" id="user_email" name="user[email]" size="30" tabindex="2" type="text"></div>
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				<label for="user_password">密码</label>
			</div>
			<div class="controls">
				<div class="full-input-wrap"><input class="span3" data-validate="true" id="user_password" name="user[password]" size="30" tabindex="3" type="password"></div>
			</div>
		</div>

		<div class="control-group">
			<div class="control-label">
				<label for="user_password_confirmation">密码确认</label>
			</div>
			<div class="controls">
				<div class="full-input-wrap"><input class="span3" data-validate="true" id="user_password_confirmation" name="user[password_confirmation]" size="30" tabindex="4" type="password"></div>
			</div>
		</div>


			<input class="btn primary" name="commit" tabindex="5" type="submit" value="注册">
			或者
			<a href="/login">已有账号？</a>


	</form>
</div>