/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #wrapper {
	 width: 960px;
	 margin: 0 auto;
 }
 
 #wrapper-left {
	 background: white;
	 width: 630px;
     float: left;
	 border: 1px solid #E8E8E8;
	 border: 1px solid rgba(0, 0, 0, .1);
	 border-radius: 6px;
 }
 
 #wrapper-right {
	 width: 300px;
	 float: right;
 }
 
 .topics-header {
	 padding: 10px 10px;	 
	 border-bottom: 1px solid #E8E8E8;
 }
 
 .content {
	 min-height: 51px;
	 padding: 9px 12px;
	 border-bottom: 1px solid #E8E8E8;
 }
 
 .topics-footer {

	 padding: 10px 10px;

 }
 
 .avator {
	 width: 56px;
	 height: 56px;
	 border-radius: 6px;
 }
 
 .info {
     margin-left: 56px;
	 margin-right: 56px;

 }
 
 .title {
	 font-size: 16px;
	 padding-top: 4px;
	 padding-bottom: 4px;
 }
 
 .sub-info {
	 font-size: 12px;
 }
 
 .reply {
	 padding-top: 12px;
	 text-align: right;
 }
 
 .pull-left {
 	float: left;
 }
 
 .pull-right {
 	float: right;
 }
 
 .add_right_space {
	 margin-right: 10px;
 }
 .dashboard {
     background-color: #F9F9F9;
     border-radius:6px;
	 padding: 10px;
	 border:1px solid #eee;
	 border:1px solid rgba(0,0,0,.1)
 }
 

